<!DOCTYPE html>
<html>
    <head>
        <title>To.</title>
        <link rel='stylesheet' type='text/css' href='/stylesheets/style_mainpage.css' />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
        <meta charset="utf-8" />
    </head>
    <body>
        <div class="mail-client">
            <section class="mail-client__left">
                <button class="new-message-btn"><span class="icon fa fa-edit"></span><span>투-닷-</span></button>
                <section class="mail-client__labels">
                    <span class="mail-client__labels__title">Menu</span>
                    <a class="mail-client__labels__item" href='/writepage'>
                        <span class="text">새 글 작성</span>
                    </a>
                    <a class="mail-client__labels__item" href='/mypage'>
                        <span class="text">내 글</span>
                    </a>
                    <a class="mail-client__labels__item" href='/community'>
                        <span class="text">커뮤니티</span>
                    </a>
                    <a class="mail-client__labels__item" href='/message'>
                        <span class="text" style="color: #800000; font-weight: 700;">쪽지</span>
                    </a>
                    <a class="mail-client__labels__item" href='/statistics'>
                        <span class="text">통계</span>
                    </a>
                    <a class="mail-client__labels__item" href='/logout'>
                        <span class="text">로그아웃</span>
                    </a>
                </section>
            </section>
            <section class="mail-client__center" style="overflow: auto;">
                <div class="mail-client__sort-by">
                    <a href="/message">받은 쪽지함</a>
                    <a href="/message_sent">보낸 쪽지함</a>
                </div>
                <div class="mail-client__email-list">
                    <% for (var i = (messages.length)-1; i >= 0; i--){ %>
                   <li class="mail-client__email-item">
                       <span class="mail-client__email-item__time"><%= messages[i].date %></span><span class="mail-client__email-item__mark"></span>

                       <p class="fake_content"><%= messages[i].msgContent %></p>
                       <p class="fake_senderId"><%= messages[i].senderId %></p>

                       <h5 class="mail-client__email-item__from">쪽지</h5>

                       <p class="mail-client__email-item__preview">
                           <% if(messages[i].msgContent.length > 43) { %>
                               <%= messages[i].msgContent.slice(0,42) %>
                           <% } else { %>
                             <%= messages[i].msgContent %>
                           <% } %>
                       </p>

                   </li>
                   <% } %>
                </div>
            </section>
            <section class="mail-client__right">
              <div class="mail-client__right__up-section">
                  <div class="mail-client__email-actions">
                      <span class="icon fa fa-trash"></span><span class="icon fa fa-mail-reply"></span><span class="icon fa fa-mail-reply-all"></span><span class="icon fa fa-long-arrow-right"></span><span class="icon fa fa-ellipsis-h"></span>
                  </div>
                  <div class="mail-client__search-container">
                      <button id="blockBtn">차단하기</button>
                  </div>
              </div>
              <div class="mail-client__email-detail">
                  <h4 class="mail-client__email-detail__title"></h4>
                  <span class="mail-client__email-item__time"></span>
                  <div class="mail-client__email-detail__description"></div>
              </div>

            </section>
        </div>
        <script src="script_message.js"></script>
    </body>
</html>
